
header{
    margin-bottom: 20px;
}

/*Главный заголовок (с картинкой на фоне)*/
.main-title{
    background-image: url('fonMain.png');
    background-size: cover;
    width:100%;
    display: inline-block;
    padding-top: 15%;
    padding-bottom: 15%;
}
/*Тег заголовка в главном заголовке*/
.main-title h1{
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 80px;
    /* or 143% */

    
    
    text-align: center;
    letter-spacing: -0.015em;

    color: #9600AE;


}
/*Подать заявку*/
#Butt-Zayvka{
    margin: auto;
    
    width:303px;
    padding: 1% 0px;
    
    background-color: #BDBDBD;
    border-radius: 6px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
/*Уникальный заголовок*/
.titleEvery{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
}
/*Таблица с картинками в галереи*/
#gallery{
    margin: auto;
    margin-top: 50px;
}
/*Строки в таблице*/

#gallery td{
    padding-left:  1%;
    padding-bottom: 10px;
}
/*Изображение в таблице*/
#gallery img{
    width:100%;
}
/*Галерея в мобильной версии*/
#gallery-mobile{
    display: none;
    margin: auto;
}
#gallery-mobile img{
    width:80%;
    margin: auto;
}
/*Афиша*/
#afisha{
    margin-left:5%;
    display: flex;
    flex-direction: row;
    
}
/*Информация о выставке*/
.vist{
    display: flex;
    width:30%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.5);;
    flex-direction: column;
    
}
/*Изображение в информации о выставке*/
.vist img{
    width:100%;
    max-height: 340px;
}
/*Параграф в информации о выставке*/
.info{
    padding-top:50px;
    padding-bottom: 100px;
    padding-left:5%;
    padding-right: 5%;
}
/*Заголовок в информации о выставке*/
.info h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    letter-spacing: -0.015em;

    color: #000000;
}
/*Описание выставки*/
.deskr{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 107%;
   

    

    color: rgba(0, 0, 0, 0.8);
}
/*Стоимость*/
.price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 167%;
    /* or 167% */

    

    color: rgba(0, 0, 0, 0.8);
}




/*Медиа-запросы*/
@media(max-width:900px)
{
   #afisha{
       flex-direction: column;
       margin: 0;
   } 
   .vist{
       width:80%;
       margin: auto;
       margin-bottom: 50px;
   }
   #info-footer{
       width:70%;
   }
   header{
       width:100%;
       
   }
}
@media(max-width:768px){
    .item{
        font-size: 12px;
    }
    
}
@media(max-width:680px){
    .Button-Join{
        font-size: 12px;
        width:90px;
        margin-top:5px;
    }
    .main-title h1{
        font-size: 36px;
        line-height: 60px;
    }
}
@media(max-width:650px)
{
    #footer-content li,p{
        font-size:12px;
    }
}
@media(max-width:550px)
{
    #footer-content li,p{
        font-size:10px;
    }
    .main-title h1{
        font-size: 30px;
    }
    #gallery-mobile{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    #gallery-mobile img{
        padding-bottom: 10px;
    }
    #gallery{
        display: none;
    }
}

