body{
    margin: 0px;
    padding: 0px;
}

#title-header{
    display: inline;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    /* identical to box height, or 129% */
}
.list-hide{
    left:0;
    margin:0;
}
.item{
    margin: auto;
    
}
.info{
    display: flex;
    flex-direction: row;
    
    padding-bottom: 0px;
}
main{
    margin-top:20px;
}
.info img{
    width: 40%;
    
    margin: auto;
}
.textInfo{
    width: 35%;
    margin: auto;
    padding-top:15%;
    
}
.textInfo{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;

    letter-spacing: -0.015em;

    color: rgba(0, 0, 0, 0.8);
}
#boldText{
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;    
    color:black;
}
#facts .textInfo,#boldtext{
    text-align: right;
}
#facts{
    background-color: #F5F5F5;;
}
@media(max-width:800px)
{
    .info{
        flex-direction: column;
    }
    #facts{
        flex-direction: column-reverse;
        background: white;
    }
    .info img{
        width:80%;
        margin: auto;
    }
    .textInfo{
        text-align: center;
        width:80%;
        margin: auto;
    }
    #facts .textInfo{
        font-size:14px;
        text-align: center;
        width:90%;
        margin: auto;
    }
    #menu_butt{
        width: 50px;
        margin-top: 50px;
    }
}
@media(max-width:500px)
{
    .info img{
        width:100%;
        margin: auto;
    }
}